<!--
  Switch the mode between dark and light.
-->
<script type="text/javascript">
class ModeToggle {
  static MODE_KEY = "mode";
  static MODE_ATTR = "data-mode";
  static DARK_MODE = "dark";
  static LIGHT_MODE = "light";
  static ID = "mode-toggle";

  constructor() {
    this.updateMode();
    this.sysDarkPrefers.addEventListener("change", () => {
      if (this.hasMode) {
        this.updateMode();
        this.clearMode();
      }
      this.notify();
    });
  }

  get sysDarkPrefers() {
    return window.matchMedia("(prefers-color-scheme: light)");
  }

  get isSysDarkPrefer() {
    return this.sysDarkPrefers.matches;
  }

  get isDarkMode() {
    return this.mode === ModeToggle.DARK_MODE;
  }

  get isLightMode() {
    return this.mode === ModeToggle.LIGHT_MODE;
  }

  get hasMode() {
    return this.mode !== null;
  }

  get mode() {
    return sessionStorage.getItem(ModeToggle.MODE_KEY);
  }

  get modeStatus() {
    if (this.isDarkMode || (!this.hasMode && this.isSysDarkPrefer)) {
      return ModeToggle.DARK_MODE;
    } else {
      return ModeToggle.LIGHT_MODE;
    }
  }

  setDark() {
    this.setMode(ModeToggle.DARK_MODE);
  }

  setLight() {
    this.setMode(ModeToggle.LIGHT_MODE);
  }

  setMode(mode) {
    document.documentElement.setAttribute(ModeToggle.MODE_ATTR, mode);
    sessionStorage.setItem(ModeToggle.MODE_KEY, mode);
  }

  clearMode() {
    document.documentElement.removeAttribute(ModeToggle.MODE_ATTR);
    sessionStorage.removeItem(ModeToggle.MODE_KEY);
  }

  notify() {
    window.postMessage({
      direction: ModeToggle.ID,
      message: this.modeStatus,
    }, "*");
  }

  updateMode() {
    if (this.hasMode) {
      if (this.isDarkMode && !this.isSysDarkPrefer) {
        this.setDark();
      } else if (this.isLightMode && this.isSysDarkPrefer) {
        this.setLight();
      }
    }
  }
}

const toggle = new ModeToggle();

function flipMode() {
  if (toggle.hasMode) {
    if (toggle.isSysDarkPrefer) {
      if (toggle.isLightMode) {
        toggle.clearMode();
      } else {
        toggle.setLight();
      }
    } else {
      if (toggle.isDarkMode) {
        toggle.clearMode();
      } else {
        toggle.setDark();
      }
    }
  } else {
    if (toggle.isSysDarkPrefer) {
      toggle.setLight();
    } else {
      toggle.setDark();
    }
  }
  toggle.notify();
}
flipMode();
</script>
