<!DOCTYPE html>
<html>
  <head>
    <title>Code Puzzle</title>
    <style>
      #game {
        width: 600px;
        height: 400px;
        border: 1px solid black;
        position: relative;
      }
      .piece {
        width: 150px;
        height: 100px;
        border: 1px solid black;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <h1>Code Puzzle</h1>
    <p>Drag and drop the puzzle pieces to complete the code.</p>
    <div id="game"></div>
    <script src="code-puzzle.js"></script>
  </body>
</html>
